[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
    ui = true
    pager = true

[core]
    editor = nvim
    pager = less -FRSX
    whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
    excludesfile = ~/.gitignore

[diff]
    command = nvim
    tool = vimdiff

[merge]
    tool = vimdiff
    prompt = false

[alias]
    st = status
    ci = commit
    co = checkout
    br = branch --sort=-committerdate
    diffm = diff origin/main
    sync = "!sh -c 'default=$(git remote show origin | sed -n \"/HEAD branch/s/.*: //p\") && git pull --rebase origin $default'"
    syncu = "!sh -c 'default=$(git remote show upstream | sed -n \"/HEAD branch/s/.*: //p\") && git pull --rebase upstream $default'"
    squash = "!sh -c 'git rebase -i $(git merge-base origin/main HEAD)'"
    m = merge --no-ff
    p = push origin HEAD
    repush = push -f origin HEAD
    pdff = diff HEAD~1..HEAD

    pretty = log --graph --pretty=format:'%Cred%h%Creset %C(cyan)%an%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
    prettyish = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative

[user]
    ; email = "mohm@yelp.com"
    ; name = "Mohammad Mohtasham"

[push]
    default = simple

[difftool]
    prompt = false
[mergetool "vimdiff"]
    path = nvim
